.scrollable-cards {
    max-height: 300px; /* Adjust this height as needed */
    overflow-y: auto;
    padding: 10px;
  }
  
  .card {
    width: 90%;  /* Reduce the size of the cards */
    margin-left: auto;
    margin-right: auto;
  }
  
  .bg-success {
    background-color: rgb(118, 210, 118) !important;
  }
  
  .bg-danger {
    background-color: rgb(244, 78, 78) !important;
  }
  
  .text-success {
    color: green;
  }
  
  .text-danger {
    color: red;
  }
  
  .show-user-data-btn {
    font-size: 12px;
    padding: 5px 10px;
  }
  
  .filter-buttons {
    margin-bottom: 10px;
  }
  
  .filter-buttons .btn {
    margin-right: 5px;
  }
  
  .filter-buttons .btn-primary {
    background-color: #007bff;
    color: white;
  }
  
  .filter-buttons .btn-success {
    background-color: #7ad18f;
    color: white;
  }
  
  .filter-buttons .btn-danger {
    background-color: #dc3545;
    color: white;
  }
  
  .filter-buttons .btn-light {
    background-color: #f8f9fa;
    color: black;
  }
  
  .show-user-data-btn {
    font-size: 12px;
    padding: 5px 10px;
  }

  .filter-buttons {
    margin-bottom: 10px;
  }
  
  .filter-buttons .btn {
    margin-right: 5px;
  }
  
  .filter-buttons .btn-primary {
    background-color: #007bff;
    color: white;
  }
  
  .filter-buttons .btn-success {
    background-color: #28a745;
    color: white;
  }
  
  .filter-buttons .btn-danger {
    background-color: #dc3545;
    color: white;
  }
  
  .filter-buttons .btn-light {
    background-color: #f8f9fa;
    color: black;
  }
  
  .show-user-data-btn {
    font-size: 12px;
    padding: 5px 10px;
  }
  
  