/* Home.css */
html, body {
    height: 100%;
    margin: 0;
  }
  
  .home-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .main-content {
    flex: 1; /* Takes up available space */
  }
  
  footer {
    background-color: #f8f9fa; /* Background color for the footer */
    text-align: center;
    padding: 10px;
    border-top: 1px solid #e7e7e7; /* Optional: Border for visual separation */
  }
  